.editor{
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.editor textarea{
    resize: none;
    max-width: 480px;
    width: 460px;
    height: 120px;
    border: 1px solid #ccc;
    padding: 8px 8px 42px 8px;
    outline: none;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 10px;
}
@media (max-width: 800px){
    .editor textarea{
        width: 100%;
        max-width: none;
    }
}
.editor__panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 460px;
    max-height: 32px;
}
.color-list{
    padding: 0;
    margin: 0;
}
.color-item{
    list-style-type: none;
    display: inline-block;
    border: 2px solid transparent;
    margin-right: 8px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: transparent;
    overflow: hidden;
}
.color-item::selection{
    background: transparent;
    color: transparent;

}
.color-item[active="true"]{
    border: 2.5px solid black;
}
.color-item[value='red']{
    background: red;
}
.color-item[value='yellow']{
    background: yellow;
}
.color-item[value='seagreen']{
    background: seagreen;
}
.color-item[value='white']{
    background: white;
}
.color-item[value='dodgerblue']{
    background: dodgerblue;
}
.color-item:hover{
    cursor: pointer;
}

.editor__button{
    width: 60px;
    background: lightgreen;
    border: none;
    border-radius: 20px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,.4);
    transition: all .2s ease;

}
.editor__button:hover{
    background-color: #4ea846;
    cursor: pointer;
}
.editor__button:active{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,.35);
}